.homeArtsContainer {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;

    .cardsContainer {
        --grid-columns: repeat(4, 1fr);
        display: grid;
        grid-template-columns: var(--grid-columns);
        grid-auto-flow: row;
        justify-items: center;
        gap: 1rem;
        padding-top: 0.5rem;
    }

    .bottomButtonContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }
}

@media (max-width: 1000px) {
    .homeArtsContainer {
        .cardsContainer {
            --grid-columns: repeat(3, 3fr);
        }
    }
}

@media (max-width: 950px) {
    .homeArtsContainer {
        .cardsContainer {
            --grid-columns: repeat(2, 3fr);
        }
    }
}

@media (max-width: 630px) {
    .homeArtsContainer {
        .cardsContainer {
            --grid-columns: repeat(1, 1fr);
            padding: 0 0.1rem;
        }
    }
}