.homeArtsContainer {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;

    .cardsContainer {
        --grid-columns: repeat(3, 1fr);
        display: grid;
        grid-template-columns: var(--grid-columns);
        grid-auto-flow: row;
        justify-items: center;
        gap: 1rem;
        margin-top: 1rem;
        padding: 0 8rem;
    }

    .bottomButtonContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }
}

@media (max-width: 961px) {
    .homeArtsContainer {
        .cardsContainer {
            --grid-columns: repeat(2, 3fr);
            padding: 0 1em;
        }
    }
}

@media (max-width: 641px) {
    .homeArtsContainer {
        .cardsContainer {
            --grid-columns: repeat(1, 1fr);
            padding: 0 0rem;
        }
    }
}