.container {
    background-color: var(--background);
    display: flex;
    flex-direction: column;

    .searchAndMenu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        gap: 1rem;
        border-bottom: 1px solid var(--elements-emphasis);

        .logoAndSearch {
            display: flex;
            align-items: center;
            gap: 1rem;

            .mainTitle {
                font-family: var(--font-charm);
                margin: 0;
            }
        }

        .user {
            .controls {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;
            }
        }
    }

    .nav {
        border-bottom: 1px solid var(--elements-emphasis);

        .unorderedList {
            display: flex;
            justify-content: center;
            /* border: 1px solid rgb(0, 255, 234); */
            height: 3rem;

            .listElement {
                /* border: 1px solid rgb(208, 0, 255); */
                width: 15%;
                display: flex;
                justify-content: center;
                align-items: center;

                .anchor {
                    width: 100%;
                    height: 100%;
                    color: var(--text-third);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-bottom: 2px solid transparent;

                    &:hover {
                        color: var(--btn-red);
                    }

                    &.active {
                        color: var(--btn-red);
                        border-bottom: 2px solid var(--btn-red);
                    }
                }

            }

        }

    }

}

@media (max-width: 1025px) {
    .container {
        .searchAndMenu {
    
            .logoAndSearch {

                .mainTitle {
                    font-size: 3.4rem;
                }
            }
        }
        .nav {
            .unorderedList {
                height: 5rem;
                .listElement {
                    width: 25%;
                    .anchor {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 961px) {
    .container {
        .searchAndMenu {
            flex-direction: column;
    
            .logoAndSearch {
                flex-direction: column;
                .mainTitle {
                    font-size: 4rem;
                }
            }
        }
        .nav {
            .unorderedList {
                height: 5rem;
                .listElement {
                    width: 25%;
                    .anchor {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 641px) {
    .container {
        .nav {
            .unorderedList {
                height: 5rem;
                .listElement {
                    width: 25%;
                    .anchor {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}