.container {
    background-color: var(--elements-emphasis);
    border-radius: 100px;
    width: 25dvw;
    width: 25vw;
    height: 3rem;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .imageContainer {
        height: inherit;
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.4rem;

        .imageElem {
            width: 100%;
            height: 100%;
        }
    }
    
    .search {
        background-color: inherit;
        font-size: 0.8rem;
        color: var(--text-second);
        width: clamp( 4rem, 80%, 18rem);
        height: 70%;
    }
}

@media (max-width: 961px) {
    .container {
        width: 75vw;
        height: clamp(3rem, 100vh, 7rem);
        justify-content: flex-start;

        .imageContainer {
            width: 10%;

            .imageElem {
                width: 100%;
                height: 100%;
            }
        }

        .search {
            font-size: 2rem;
            color: var(--text-second);
            width: clamp( 4rem, 70%, 20rem);
            height: 70%;
        }
    }
}
@media (max-width: 641px) {
    .container {
        width: 75vw;
        height: clamp(3rem, 100vh, 7rem);
        justify-content: flex-start;

        .imageContainer {
            width: 20%;

            .imageElem {
                width: 100%;
                height: 100%;
            }
        }

        .search {
            font-size: 2rem;
            color: var(--text-second);
            width: clamp( 4rem, 70%, 20rem);
            height: 70%;
        }
    }
}