.mainWrapper {
    height: fit-content;
    width: 100%;
    font-size: 2rem;
    padding: 3rem 1rem;

    background: url(../../../public/add-art-asset.webp) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: var(--btn-white);

    .title {
        margin-top: 0;
        font-size: 3rem;
        text-align: center;
        color: inherit;
    }

    .generalParagraph {
        text-align: center;
        color: inherit;
        font-size: 2rem;
    }
}

.uploadForm {
    --transparent-white: rgba(255, 255, 255, 0.8);

    .inputSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 4rem;
    }

    .inputElement {
        border: 1.5px solid var(--elements-emphasis);
        position: relative;
        border-radius: 8px;
        height: 3.5rem;
        width: 100%;
        padding: 0 1rem;
        margin-bottom: 1rem;
        background-color: var(--transparent-white);

        &.falseInput {
            border-color: var(--btn-red);
            border-width: 0.2rem;
        }

        &.description {
            min-height: 30rem;
        }
    }

    .artSecondLabel {
        border-radius: 50rem;
        padding: 1rem 2rem;
        margin: 1rem 0;
        font-weight: bold;
        background-color: var(--btn-red);
        color: var(--btn-white);
    }

    .artFileInput {
        display: none;
        pointer-events: none;
    }

    .note {
        color: var(--text-third);
        color: var(--btn-white);
        opacity: 90%;
        text-align: center;
        font-size: 2rem;
    }

    .errorMessage {
        color: var(--btn-red);
        background-color: var(--transparent-white);
        border-radius: 4px;
        padding: 0.2rem 0.5rem;
        text-align: center;
        font-size: 2rem;
    }

    .submitButtonContainer {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 1025px) {
    .mainWrapper {
        font-size: clamp(10px, 3vw, 16px);
        padding: 3rem 15rem;

        .title {
            font-size: 2.4em;
        }

        .generalParagraph {
            color: inherit;
            font-size: 1.5em;
        }
    }

    .uploadForm {
        /* --transparent-white: rgba(255, 255, 255, 0.8); */

        .inputElement {
            /* background-color: var(--transparent-white); */

            /* &.falseInput {
                border-color: var(--btn-red);
                border-width: 0.2rem;
            } */

            &.description {
                min-height: 10rem;
            }
        }

        /* .note {
            color: var(--btn-white);
            opacity: 90%;
        } */

        /* .errorMessage {
            background-color: var(--transparent-white);
            border-radius: 4px;
            padding: 0.2rem 0.5rem;
        } */
    }
}